body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button {
    height: 48px;
    min-width: 48px;
    background-color: #080164;
    border: 1px solid white;
    color: white;
    margin: 16px;
}

button:hover {
    border: 1px solid #080164;
    color: #080164;
    background-color: white;
    cursor: pointer;
}

img, video {
    display: block;
    max-width: 100%;
    max-height: 80vh;
    margin: auto;
}

#controls {
    height: 120px;
    align-self: stretch;
    display: flex;
    justify-content: center;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

#spinner {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: auto;
    animation: spin 1s infinite ease-in-out;
}

#container {
    padding-top: 16px;
    max-width: 900px;
    margin: auto;
}